@import "tailwindcss";

* {
  border-color: red;
}

:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background: #ffffff;
    --foreground: #050505;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: #0000EE; /* link normal */
}

a:visited {
  color: #551A8B; /* link visitado */
}

a:hover {
  color: #FF6600; /* cuando pasas el mouse */
}

a:active {
  color: #FF0000; /* cuando haces clic */
}
